// BTN CONTAINER

.btn.btn-container {
  //   border: 1px solid #5f6fff;
  padding: 5px 10px;
  border-radius: 25px;
  background-color: #5f6fff;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.white-btn {
  padding: 10px 30px;
  border-radius: 25px;
  color: #000;
  background-color: #fff;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
}

.app {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

// NAV CONTAINER
.nav-container {
  //   position: fixed;
  //   margin: 0 auto;
}

// HOME CONTAINER
.home-container {
  position: relative;
  margin-top: 30px;
  background-color: #5f6fff;
  height: calc(100vh - 200px);
  border-radius: 25px;

  .flex.items-center.justify-center.m-15 {
    margin: 15px 0px;
  }

  .span-container {
    margin-left: 15px;
  }
}
