// BTN CONTAINER

.btn.btn-container {
  //   border: 1px solid #5f6fff;
  padding: 5px 10px;
  border-radius: 25px;
  background-color: #5f6fff;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.app {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

// NAV CONTAINER
.nav-container {
  //   position: fixed;
  //   margin: 0 auto;
}
